@tailwind base;
@tailwind components;
@tailwind utilities;

.text-transparent {
  -webkit-text-fill-color: transparent;
  animation: fade 1.5s ease-in 1.5s forwards;
  pointer-events: none;
  opacity: 0;
}

@keyframes fade {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
