@tailwind base;
@tailwind components;
@tailwind utilities;

.text-transparent {
  -webkit-text-fill-color: transparent;
  animation: fade 1.5s ease-in 1.5s forwards;
  pointer-events: none;
  opacity: 0;
}

.text-transparent2s {
  -webkit-text-fill-color: transparent;
  animation: fade 2.5s ease-in 2.5s forwards;
  pointer-events: none;
  opacity: 0;
}

.text-transparent3s {
  -webkit-text-fill-color: transparent;
  animation: fade 3s ease-in 3s forwards;
  pointer-events: none;
  opacity: 0;
}

.transparent4s {
  animation: fade 4s ease-in 4s forwards;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #24c6dc;
  background: -webkit-linear-gradient(to bottom, #000000, rgb(73, 73, 73));
  background: linear-gradient(to bottom, #000000, rgb(73, 73, 73));
  z-index: -1;
}

.morphism {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.box img {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;

}

.box img:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box img:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box img:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box img:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box img:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box img:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box img:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box img:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box img:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box img:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
  
  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}