@tailwind base;
@tailwind components;
@tailwind utilities;

.text-transparent {
  -webkit-text-fill-color: transparent;
  animation: fade 1.5s ease-in 1.5s forwards;
  pointer-events: none;
  opacity: 0;
}

.text-transparent2s {
  -webkit-text-fill-color: transparent;
  animation: fade 2.5s ease-in 2.5s forwards;
  pointer-events: none;
  opacity: 0;
}

.text-transparent3s {
  -webkit-text-fill-color: transparent;
  animation: fade 3s ease-in 3s forwards;
  pointer-events: none;
  opacity: 0;
}

.transparent4s {
  animation: fade 4s ease-in 4s forwards;
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #24c6dc;
  background: -webkit-linear-gradient(to bottom, #000000, rgb(73, 73, 73));
  background: linear-gradient(to bottom, #000000, rgb(73, 73, 73));
  z-index: -1;
}

.morphism {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
